.recs {
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-lg);
    border: 1px solid var(--light-stroke, #DDDDEA);
    background-image: url('../../../assets/meditation.png');
    background-size: 24%;
    background-position: right 10% center;
    background-repeat: no-repeat;

    /* Soft Shadow */
    box-shadow: 0 2px 4.8px 0 rgba(0, 0, 0, 0.05);

    padding-top: var(--space-xl);
    padding-left: var(--space-lg);
    padding-bottom: var(--space-lg);
}

.recs:hover .message-r {
    color: var(--base-orange)
}

.content {
    display: flex;
    flex-direction: row;
}

.message {
    color: var(--black-400);
}

.message-r {
    margin: 0;
    font-size: 1.7rem;
    transition: color 0.5s ease;
}

.message-p {
    width: 70%;
    margin: 0;
    font-size: var(--text-sm);
}