.blue-circle {
    color: var(--bg-color);
    background-color: var(--base-blue);
    border-radius: 50%;
    display: flex;
    max-width: 80px;
    padding: var(--space-sm);
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

@media (max-width: 768px) {
    .options {
    gap: var(--space-sm);
    margin-bottom: var(--space-sm);
    }

    .blue-circle {
    color: var(--bg-color);
    background-color: var(--base-blue);
    border-radius: 50%;
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

}

