.change-password-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.change-password-modal {
  background: white;
  border-radius: 16px;
  padding: 32px;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.password-requeriments {
  font-size: 14px;
  color: #929292;
  margin-top: 0px;
}

.change-password-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.password-cancel-button {
  background-color: #fffdfd;
  color: #ff4131;
  border: 1px solid #ddddea;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
}
