.feeling {
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-lg);
  border: 1px solid var(--light-stroke, #ddddea);
  background-image: url('../../../assets/field-home.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  /* Soft Shadow */
  box-shadow: 0 2px 4.8px 0 rgba(0, 0, 0, 0.05);

  padding-top: min(var(--space-xl), 10%);
  padding-left: min(var(--space-lg), 5%);
  padding-bottom: min(var(--space-lg), 5%);
}

.feeling:hover span {
  color: var(--base-violet);
}

.message {
  color: var(--black-400);
}

.message-h {
  margin: 0;
  font-size: 1.7rem;
}

.message-h span {
  transition: color 0.5s ease;
}

.message-p {
  width: 70%;
  margin: 0;
  font-size: var(--text-sm);
}

@media (max-width: 768px) {
  .message-h {
    font-size: 1.5rem;
  }
}
