.animated-line {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.5;
}

.animated-line svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.animated-line-how {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.animated-line-how svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
