.todo-widget {
  border-radius: 20px;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-stroke, #ddddea);
  background-image: url('../../assets/tasks.png');
  background-size: 55%;
  background-position: bottom 10% center;
  background-repeat: no-repeat;

  /* Soft Shadow */
  box-shadow: 0 2px 4.8px 0 rgba(0, 0, 0, 0.05);
  padding-top: var(--space-md);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  transition: transform 0.25s ease;
}

.todo-widget2 {
  border-radius: 20px;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-stroke, #ddddea);
  background-position: bottom 10% center;
  background-repeat: no-repeat;

  /* Soft Shadow */
  box-shadow: 0 2px 4.8px 0 rgba(0, 0, 0, 0.05);
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  transition: transform 0.25s ease;
}

.todo-widget:hover {
  transform: translateY(-10px);
}

.create-new {
  margin: 0;
  font-size: 1.3rem;
}

.add-btn {
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--light-stroke);
  color: var(--base-black);
  stroke-width: 1px;
  stroke: var(--light-stroke, #ddddea);
  filter: drop-shadow(0 2px 4.8px rgba(0, 0, 0, 0.05));
  transition: background-color 0.4s ease;
  text-decoration: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--base-blue);
  color: var(--bg-color);
}

@media (max-width: 768px) {
  .todo-widget {
    background-size: 45%;
  }
  .create-new {
    font-size: 1.1rem;
  }
}


.task-el {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  width: 100%;
  justify-content: space-between;
}

.task-name {
  margin: 8px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}