:root {
  /* Font Family */
  font-family: 'DM Sans', sans-serif;
  --font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Headings */
  --text-h1: 90px;
  --text-h2: 64px;
  --text-h3: 45px;
  --text-h4: 32px;
  --text-h5: 23px;
  --text-body: 16px;
  --text-button: 18px;

  /* Body */
  --font-body-size: 16px;

  /* Colors */
  --bg-color: #fffdfd;
  --light-stroke: #ddddea;
  --bg-light-gray: #f5f5fb;
  --base-black: #393939;
  --base-violet: #895fff;
  --base-orange: #ff7e5b;
  --orange-300: #ff9e84;
  --base-blue: #668dff;

  /* Base Colors */
  color: var(--base-black);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--text-h1);
  font-weight: 400;
}
h2 {
  font-size: var(--text-h2);
  font-weight: 400;
}
h3 {
  font-size: var(--text-h3);
  font-weight: 400;
}
h4 {
  font-size: var(--text-h4);
  font-weight: 400;
}
h5 {
  font-size: var(--text-h5);
  font-weight: 400;
}
p {
  font-size: var(--text-body);
}

button {
  color: var(--bg-color, #FFFDFD);
  font-family: var(--font-family);
  font-size: var(--text-button);
  font-weight: 500;

  display: inline-flex;
  height: 50px;
  padding: 14px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  border: none;
  overflow: hidden;

  background-color: var(--base-orange, #ff7e5b);

  transition:
    background-color 0.25s ease,
    transform 0.2s ease;
}

button:hover {
  background-color: var(--orange-300, #ff9e84);
}
