.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black-150);
    flex-shrink: 0;
    width: fit-content;
     scroll-snap-align: start;

}

.day p {
    margin: 0;
}

.day:last-child {
    margin-right: 20px;
}

.day img {
    width: 100%;
    max-width: 3.5rem;
    min-width: 3rem;
    height: auto;
    
}

@media (max-width: 768px) {
  .day img {
    max-width: 3.3rem;
  }
}